html,
body {
    background-image: url("images/background_imgs/andrew-clifton-jellies-unsplash.webp");

}

.title-intro {
    margin-bottom: 40px;

}



.title-intro img {

    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 40px;
    margin-top: 20px;

    box-shadow: 20px 20px 0 #280B42FF;
    border: 4px solid #B623FF;

}


.extended-content {
    margin-top: 0;
    clip-path: polygon(0 80px,
            /* left top */
            100% 0,
            /* right top */
            100% 100%,
            /* bottom right */
            0 100%
            /* bottom left */
        );
 
}

.float-img {
  width: 550px;
  margin: 0 20px 10px 0; /* space between image and text */
  border-radius: 10px;
  align-self: flex-start;
}
