.life-section {
    flex-direction: column;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: #F3E9DC 2px solid;
    border-radius: 20px;

}

.life-section h4 {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.self-info {
    display: flex;
    flex-direction: column;
}

.life-pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 15px;
}

.life-pics img {

    margin: 15px;
    border: #F3E9DC 4px dotted;
    border-radius: 15px;
}

.footer {
    display: flex;
    background: #C8B8DB;
    color: #502F4C;
    text-align: center;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;                                           
}