.links {
    margin-top: 30px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: #FDF2FF 2px solid;
    margin-top: 15px;
    padding: 20px;
    padding-top: 30px;
    gap: 20px;

    font-size: 38px;
    list-style-type: none;

}

.contact-list a {
    text-decoration: none;
    color: #FDF2FF;

    transition:
        transform 0.25s ease,
        color 0.25s ease;

}

.contact-list a:hover {
    transform: scale(1.1);
    color: #B623FF;
    padding: 10px 15px;
    border-radius: 5px;
}

.contact-list a::after {
    
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.contact-list a:hover::after {
    transform: scaleX(1);
}

@media (max-width: 900px) {
    .links {
        flex-direction: column;
        font-size: 0px;
        gap: 15px;
    }
    .contact-list {
        gap: 15px;
        font-size: 20px;
        text-align: center;
    }
}