html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-image: url("images/background_imgs/sandro-katalina-purple_triangle-unsplash.webp");
    background-size: cover;
    background-attachment: fixed;
    /* parallax effect */
    /* keeps aspect ratio */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    display: flex;
    flex-direction: column;
    /* horizontal */
    align-items: center;
    background-repeat: no-repeat;
    /* stop tiling */
    background-attachment: fixed;
    /* fix the background */

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.extended-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin: auto;
    padding: 20px;

    margin-top: 118px;
    /* space from header for parallax style -- adjust as needed */

    background: linear-gradient(to bottom left, #280B42E6, #331087E6, #B623FFE6);
    position: relative;
    z-index: 1;

    clip-path: polygon(0 80px,
            /* left top */
            100% 0,
            /* right top */
            100% 100%,
            /* bottom right */
            0 100%
            /* bottom left */
        );
}


.header {
    margin: 0 auto;
    background-color: #C8B8DB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    max-height: 150px;
    border-bottom: #F3E9DC 1px solid;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    background: #131515;
    color: #FDF2FF;
    box-sizing: border-box;
}

.footer-right {
    text-decoration: none;
    color: #FDF2FF;
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-left: auto;
    margin-right: 40px;
    min-width: 0;
    /* allows shrinking */

    /* Smooth animation */
    transition:
        transform 0.25s ease,
        color 0.25s ease;
}

.footer-right:hover {
    transform: scale(1.2);
    /* "Blow up" effect */
    color: #A245FF;
    /* Change button color */
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;


}

.main-content h3 {
    color: #000;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}

.main-content p {
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    line-height: 1.5;


}

.welcome-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 600px;
    height: 450px;

    margin-top: 150px; /* space from top of vh for parallax style -- adjust as needed // MOBILE!! */

    background-color: #131515;
    background: linear-gradient(to bottom left, #280B42, #131515, #331087);
    animation: gradientShift 20s ease infinite;
    background-size: 600% 600%;
    border-radius: 10px;
    border: #FDF2FF 6px dotted;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

    color: #FDF2FF;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    padding: 20px 40px;
    gap: 20px;

}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.welcome-block h1 {
    margin: 10px;
    padding: 10px;

    text-align: center;

}

.welcome-block h2 {

    border-top: #FDF2FF 2px solid;
    margin: 0;
    font-size: 35px;
    padding-top: 10px;
    text-align: center;


}

.links {

    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Volkhov", serif;
    padding-top: 20px;
    gap: 30px;

}

.links a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    /* reserve space */
    position: relative;
    color: #FDF2FF;
    font-size: 28px;
    padding: 10px 15px;
    padding-bottom: 0;
    cursor: pointer;
    /* Smooth animation */
    transition:
        transform 0.25s ease,
        background-color 0.25s ease;
}

.links a:hover {
    transform: scale(1.2);
    /* "Blow up" effect */
    color: #A245FF;
    /* Change button color */
}

.links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    /* space below text */
    width: 100%;
    height: 2px;
    background-color: #A245FF;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.links a:hover::after {
    transform: scaleX(1);
}

.extended-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #FDF2FF;
    font-family: "Volkhov", serif;
    text-align: center;
    font-size: x-large;
    line-height: 1.6;

    background: #131515;
    border-radius: 10px;

    box-shadow: 20px 20px 0 #280B42FF;

    max-width: 800px;
    padding: 40px;
    margin-top: 150px;
    margin-bottom: 150px;

    position: relative;


}