html,
body {
    background-image: url("images/background_imgs/daniele-levis-pelusi-2nd_galaxy-unsplash.webp");
    height: 100%;
    margin: 0;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 40px;

    flex: 1;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.extended-content {

    clip-path: inset(0% 0% 0% 0%);
}   



.nav-bar {
    color: #FDF2FF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    z-index: 2;

    background: #131313;
    border-radius: 10px;
    border: #FDF2FF 4px dotted;

    font-family: "Volkhov", serif;
    text-align: center;
    font-size: 28px;

    width: 40%;
    padding: 20px;
    gap: 50px;


}

.nav-bar a {
    color: #FDF2FF;
    text-decoration: none;
    margin: 0 15px;

    transition:
        transform 0.25s ease,
        background-color 0.25s ease;

}

.nav-bar a:hover {
    transform: scale(1.2);
    /* "Blow up" effect */
    color: #A245FF;
    /* Change button color */
}

.nav-bar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    /* space below text */
    width: 100%;
    height: 2px;
    background-color: #A245FF;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-bar a:hover::after {
    transform: scaleX(1);
}

.title-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

    color: #FDF2FF;
    font-family: "Volkhov", serif;
    text-align: center;
    font-size: 20px;
}

.title-intro h1 {
    font-family: "Poiret One", cursive;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 100px 20px;
}

.lane {
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 40px;
    background: linear-gradient(to bottom left, #280B42E6, #331087E6, #B623FFE6);
    color: #FDF2FF;
    font-family: "Volkhov", serif;


    clip-path: polygon(10% 0,
            100% 0,
            90% 100%,
            0% 100%);


    transition: transform 0.3s ease;
}

.project-card:nth-child(even) {
    clip-path: polygon(0 0,
            90% 0,
            100% 100%,
            10% 100%);
}

.project-card h2 {
    margin-top: 20px;
    font-family: "Poiret One", cursive;
    font-size: 28px;

}

.project-card p {
    font-family: "Volkhov", serif;
    text-align: center;
    font-size: 18px;
    padding: 0px 20px 25px 20px;
}

.project-card img {
    width: 75%;
    height: auto;
    border-radius: 10px;
}

.project-card.expanded .project-full {
    max-height: 550px;
    /* large enough to fit content */
    padding-bottom: 50px;
    padding-top: 20px;

}


.project-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-full {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.project-full a {
    color: #FFB625;
    margin: 0 15px;

    transition:
        transform 0.25s ease,
        background-color 0.25s ease;

}

.expand-btn {
    font-family: "Volkhov", serif;
    font-size: 15px;

    margin-top: auto;
    padding: 10px 15px;
    background: #131313;
    color: #FDF2FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    transition:
        transform 0.25s ease,
        color 0.25s ease;
}

.expand-btn:hover {
    transform: scale(1.1);
    color: #A245FF;
}


.right-lane {
    margin-top: 120px;
}

@media (max-width: 900px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }

    .right-lane {
        margin-top: 0;
    }
}